ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}

a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 20px;
}
body {
  background-color: aquamarine;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}
